<footer class="app-footer">
  <p>
    Created by
    <a href="https://github.com/pauloluan">
        Paulo Luan
    </a>
  </p>
  <p> Powered by <a href="https://hexo.io"> Hexo </a> theme by <a href="https://github.com/DrakeLeung/hexo-theme-again">Drake Leung</a><p>
</footer>
